.forget_password {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg_white {
  background-color: white;
  border-radius: 22px;
  width: 70%;
  height: 80%;
  z-index: 99;
  position: relative;
  font-family: var(--font-poppins), sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg_white form {
  width: 70%;
  margin: 0 auto;
}
.bg_white form br {
  display: none;
}
.bg_white form div {
  text-align: left;
}
.forget_password .logo_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 992px) {
  .auth_heading {
    font-size: 38px;
  }
  .auth_para {
    font-size: 17px;
  }
  .bg_white form {
    width: 65%;
  }
}
@media screen and (max-width: 768px) {
  .bg_white {
    width: 85%;
  }
  .auth_heading {
    font-size: 34px;
  }
  .auth_para {
    font-size: 16px;
  }
  .logo {
    max-width: 80px;
  }
  p#head {
    font-size: 17px;
  }
}

@media screen and (max-width: 576px) {
  .bg_white {
    width: 90%;
  }
  .auth_heading {
    font-size: 23px;
  }
  .auth_para {
    font-size: 15px;
  }
  .bg_white form {
    width: 90%;
  }
  .logo {
    max-width: 80px;
  }
  p#head {
    font-size: 17px;
  }
  .logo_div p {
    margin-bottom: 0 !important;
  }
  .logo {
    max-width: 80px;
  }
}
