.blog_card {
  font-family: var(--font-poppins), sans-serif;
  width: 250px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 20px;
  transition: 0.3s all;
  height: auto;
}

.blog_card:hover {
  transform: scale(1.05);
}
.blog_card h3 {
  font-size: 20px;
  font-weight: 700;
}

.blog_card .body {
  padding: 10px 14px;
}
.blog_card .body p {
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog_card .img_div {
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 160px;
}
.blog_card .img_div img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
}

.blog_card .body a {
  font-size: 16px;
  color: var(--red-color);
}

@media screen and (max-width: 1200px) {
  .blog_card {
    width: 220px;
  }
}

@media screen and (max-width: 768px) {
  .blog_card {
    width: 100%;
  }
}
