* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins), sans-serif;
}
:root {
  --red-color: #b50000;
  --black-color: #393939;
  --light-gray: #d2d2d2;
  --dark-gray: #bdbdbd;
  --light-white: #fbfbfb;
  --lighter-gray: #afafaf;
  --bg-gray: #e9e9e9;
  --filter-heading_color: #424242;
  --stars-color: #ff9c12;
  --color-sky: #00c9ed;
}
p {
  margin-bottom: 0 !important;
}
.section_heading {
  font-size: 32px;
  font-weight: bold;
  font-family: var(--font-poppins), sans-serif;
}

.auth_bg {
  width: 100%;
  height: 100vh;
  font-family: var(--font-poppins), sans-serif;
  background-image: url("/assets/hero_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.auth_bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.auth_bg .label_auth {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}
.auth_bg .input_auth {
  width: 100%;
  max-width: 472px;
  height: 44px;
  border-radius: 9px;
  background-color: white;
  border: 1px solid var(--lighter-gray);
  outline: none;
  text-align: center;
}
.welcom_heading {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.sign_up {
  color: white !important;
  border: 1px solid white !important;
}
p#account {
  font-size: 20px;
  color: white;
}
.welcom_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

.logo {
  max-width: 92px;
  max-height: 83px;
}
p#head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0 !important;
  line-height: 18px;
}
p#descri {
  font-size: 08px;
}

.auth_heading {
  font-size: 42px;
  font-weight: 600;
  color: var(--red-color);
}
.auth_para {
  font-size: 19px;
  font-weight: 500;
}

button.sign_in {
  margin-top: 20px;
  width: 100%;
  max-width: 472px;
  height: 43px;
  border-radius: 9px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--red-color);
  outline: none;
  transition: background 0.4s ease;
  border: none;
}

.margin_navbar {
  margin-top: 125px;
}

button.sign_in:hover {
  background: linear-gradient(135deg, #b50000, #00c853);
}
p#forgot {
  cursor: pointer;
}
.name_heading {
  font-size: 40px;
  font-weight: bold;
  color: var(--red-color);
}

.verified_btn {
  border: none;
  outline: none;
  padding: 05px 10px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: var(--red-color);
  display: flex;
  gap: 5px;
  align-items: center;
  text-transform: uppercase;
  box-shadow: 5px 05px 04px rgba(0, 0, 0, 0.5);
}
.tik_icon {
  height: 16px;
  width: 14px;
  border-bottom: 2px solid white;
}
.card_btn_background {
  background-color: #6b6b6b !important;
}
@media screen and (max-width: 1200px) {
  .verified_btn {
    padding: 2px 10px;
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .verified_btn {
    padding: 2px 5px;
    font-size: 15px;
  }
}

@media screen and (max-width: 992px) {
  .auth_bg {
    background: none !important;
    background-image: none !important;
    background-color: var(--red-color) !important;
  }
  .hide_bar {
    display: none;
  }
  .navbar .list {
    top: -780px;
  }
}

@media screen and (max-width: 576px) {
  .margin_navbar {
    margin-top: 105px;
  }
}
