.sign_up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black !important;
}

.sign_up .bg_white {
  height: 96%;
}
.sign_up .input_auth {
  margin-bottom: 14px;
}
.sign_up form {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.sign_up form div {
  width: 100%;
}
.sign_up .bg_white {
  background-color: white;
  border-radius: 22px;
  z-index: 99;
  position: relative;
  text-align: center;
  width: 80%;
  max-width: 942px;
}
.sign_up .input_auth {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 11px;
}
.sign_up .checkbox_field {
  display: flex;
  align-items: center;
  gap: 6px;
  color: black;
}
span.terms {
  color: var(--red-color);
}
.sign_up .sign_in {
  margin-top: 10px;
}
.sign_up .margin_bottom {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 992px) {
  .sign_up form {
    width: 60%;
  }
  .sign_up .margin_bottom {
    margin-bottom: 1rem !important;
  }
  .auth_heading {
    font-size: 37px;
  }
  button.sign_in {
    height: 43px;
  }
  .sign_up .input_auth {
    height: 43px;
  }
  .checkbox_field label {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  .sign_up form {
    width: 100%;
  }
  .sign_up .bg_white {
    width: 95%;
  }
}
@media screen and (max-width: 470px) {
  .checkbox_field label {
    font-size: 12px;
  }
}
