.reset_password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reset_password .bg_white {
  background-color: white;
  border-radius: 22px;
  z-index: 99;
  position: relative;
  text-align: center;
}
.reset_password .checkbox_field {
  display: flex;
  align-items: center;
  gap: 6px;
}
.reset_password form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 472px;
}
.reset_password .check_forget {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset_password .create_new_account {
  display: none;
}
.reset_password .logo_div {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .auth_heading {
    font-size: 35px;
  }
  .reset_password form {
    width: 100%;
  }
  .auth_para {
    font-size: 17px;
    margin-bottom: 0 !important;
  }
  .auth_bg .label_auth {
    font-size: 15px;
  }
  .auth_bg .input_auth {
    height: 43px;
  }
  button.sign_in {
    height: 43px;
  }
  .custom-checkbox {
    font-size: 15px;
  }
  p#forgot {
    font: 15px;
  }
  .logo {
    max-height: 72px;
  }
  p#head {
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  .reset_password .bg_white {
    max-width: 96%;
  }
  .auth_heading {
    font-size: 30px;
  }
  .auth_para {
    font-size: 15px;
  }
  .auth_bg .label_auth {
    font-size: 14px;
  }
  .auth_bg .input_auth,
  button.sign_in {
    height: 39px;
  }
  .reset_password .checkbox_field {
    font-size: 14px;
  }
  .reset_password p#forgot {
    font-size: 14px;
  }
  .logo {
    max-height: 52px;
  }
  p#head {
    font-size: 13px;
  }
}
