.user_profile {
  font-family: var(--font-poppins), sans-serif;
  background-color: #e5e4e4;
  width: 100%;
  position: relative;
}
.user_profile .profile_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.user_profile .container {
  margin: 0 auto !important;
}
.user_profile .profile_img_div {
  height: 355px;
  width: 355px;
  border-radius: 50%;
}
.user_profile .profile_img_div p#city {
  color: #424242;
}
.user_profile .profile_img_div {
  width: 100%;
  height: auto;
}
.user_profile .profile_img_div h3 {
  font-size: 25px;
  color: var(--red-color);
  font-weight: bold;
}
.user_profile .profile_img_div p {
  font-size: 17px;
}
.user_profile .flex_div {
  gap: 10px;
  text-align: left;
}
.user_profile .flex_div h3,
.user_profile .flex_div p {
  margin-bottom: 0;
}
.user_profile .flex_div h3 {
  font-size: 20px;
  font-weight: bold;
}
.user_profile .flex_div p {
  font-size: 20px;
}
.user_profile .new_address_btn {
  background-color: var(--red-color);
  color: white;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
}

.user_profile .address-form {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%);
  width: 80%;
}

@media screen and (max-width: 768px) {
  .user_profile .flex_div p {
    font-size: 17px;
  }
  .user_profile .flex_div h3 {
    font-size: 17px;
    font-weight: bold;
  }
}

@media screen and (max-width: 576px) {
  .user_profile .flex_div p {
    font-size: 15px;
  }
  .user_profile .flex_div h3 {
    font-size: 15px;
    font-weight: bold;
  }
  .user_profile .new_address_btn {
    font-size: 14px;
  }
}
